* {
  margin: 0;
  padding: 0;
}
.textCenter {
  text-align: center;
}
.textMarginLeft6 {
  margin-left: 6%;
}
.textMarginLeft9 {
  margin-left: 9%;
}
.marginTop10 {
  margin-top: 10px;
}
.marginBottom10 {
  margin-bottom: 10px;
}
.marginRight5 {
  margin-right: 5px;
}
.marginLeft5 {
  margin-left: 7px;
}
.marginLeft015 {
  margin-left: 15%;
}
.imgWhith03 {
  width: 30%;
}
.block {
  display: block;
}
.centerImg {
  margin: auto;
}
.minWhith300 {
  min-width: 270px;
}
.colorRed {
  color: red;
}
.colorBlue {
  color: blue;
}
.colorGreen {
  color: green;
}
.textDirectionNone {
  text-decoration: none;
}
a:hover {
  background-color: rgb(199, 168, 168);
}
li {
  list-style-type: none;
}
